# Server
PORT=
NODE_ENV=

# Database
DB_ROOT_PASSWORD=
DB_NAME=
DB_USER=
DB_PASSWORD=
DATABASE_URL=

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

# AI
AI_PROVIDER=
OLLAMA_BASE_URL=
OLLAMA_MODEL=